.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-content a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.footer-content a:hover {
  text-decoration: underline;
}
