<!-- <mat-toolbar class="header">
  <div class="left-content">
    <img src="logo.png" alt="सत्यमेव जयते" class="logo" />
  </div>

  <span class="app-title">
    <div>क्षेत्र तपासणी प्रणाली</div>
  </span>

  <div class="right-content">
    <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle Sidebar">
 
    </button>
  </div>
</mat-toolbar> -->
<!-- <app-header ></app-header>
<app-navbar ></app-navbar>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>

<app-footer ></app-footer> -->
<app-header *ngIf="showLayout"></app-header>
<app-navbar *ngIf="showLayout"></app-navbar>

<div class="main-layout">
  <app-sidebar *ngIf="showLayout"></app-sidebar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer *ngIf="showLayout"></app-footer>
